.header{
    background-color: wheat;
    background-image: url('/style.css/em.jpg');
    background-position: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 400px;
    /* padding-bottom: 20px; */
    /* margin: 20px; */
    border: 50px solid tomato;
    box-shadow: 10px 5px blueviolet;
    text-align: justify;
    padding:50px 50px 50px 100px;
    margin: 200px;


}